*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}

body{
	margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "roboto";
  //background: url(../imagenes/icono.png);
  color: black;
	
}

.contenedor{
	margin:auto;

	//padding-top: 200px;
	background:#FFFFFF;
	width: 88%;
	height:2000px;
	
}


@font-face{
	font-family: 'lobster';
	src:url('../fuentes/lobster1.woff');
}

@font-face{
	font-family: 'roboto';
	src:url('../fuentes/roboto.woff');
}

@font-face {
    font-family: 'agan';
    src: url('../fuentes/agane_65_bold_sign-webfont.woff');
         

}


.header {
  
  display: flex;
  align-items: center;
  //color: #fff;


}

.content {
  /*max-width: 40rem;
  padding-left: 8rem;
  padding-right: 1rem;*/
  margin: auto;
  text-align: center;

  
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-video video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 1;
  opacity: .50;
}

.navbar {
  z-index: 2;

}

.header-content{
	z-index: 3;

}

.header-content h1{
	//font-size: 50px;
	margin-bottom: 0px;
	font-family: 'lobster';
}

.header-content p{
	//font-size: 1.2rem;
	display: block;
	font-weight: bold;
	padding-bottom: 2rem;
	font-family: 'agan';
}

 .linea1{
	height: 1.5px;
	background-color: black;
	border-radius: 100%;
}


.navbar .navbar-nav li a{
	color: black;
	font-weight: bold;
	//font-size: 18px;
	
}

.navbar .navbar-toggler{
	padding-top: 10px;

}

.titulo{
	text-align: center;
	//margin-top: 80px;
	font-family: 'agan';
	letter-spacing: 5px;

}

.texto-normal{
	font-weight: bold;
	text-align: center;
	font-family: 'roboto';
}

.imagen{
	width: 100%;
	transition:all .8s ease-in-out;
}

.marco{
margin-bottom: 15px;
overflow:hidden;

}

.marco:hover .imagen {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	transition:all .8s ease-in-out;
}

.imagenes{
	margin-top: 20px;
}

.titulo-entradas{
	text-decoration: none;
	font-family: 'lobster';
	text-align: center;
}

.seleccion{
color: #D84B20;
}

.seleccion:hover{
	color: #FF7E00;
	text-decoration: underline;
	transition:all .6s ease-in-out;
}

.sin-subrayado:hover{
	text-decoration: none;
}

/*-------estilos responsivos--------*/

@media(min-width: 280px){

body{
	background: url(../imagenes/icono2.png);
}


	.navbar .navbar-nav {
		margin-top: 5px;
	}
 
	.navbar .navbar-nav .nav-item{
	background-color: rgba(107, 107, 107, 0.5);
	color: black;
	padding-left: 10px;

	}

	.navbar .navbar-nav .nav-item:hover{
		background-color: rgba(255,126,0, 0.55);
		border-radius: 25px 0px 25px 0;
		transition:all .3s ease-in-out;
	}

	.content {
    padding: 0rem 3rem 0 3rem;
  }

.header-content p{
	font-size: 1rem;
}

.navbar .navbar-nav li a{
	font-size: 14px;
	}

.indice{
	padding-right: 2px;
}

.credito{
padding-right: 3px;
}

.logo{
	width: 50%;
	//margin-left: 6.5rem;
}

.header {
  height: 190px;
  margin-bottom: 180px;
}

  .contenedor{

  	padding-top: 200px;
  }

 .titulo{
 	margin-top: 80px;
 	font-size: 20px;
 }

  .texto-normal{
 	font-size: 11px;
 }

 .titulo-entradas{
 	font-size: 18px;
 }

}


@media(min-width: 360px){
	.header {
  height: 300px;
margin-bottom: 70px;
}
}



@media (min-width:480px ) {
	.content {

    padding: 0rem 4rem 0 5rem;
  }

.logo{
	width: 40%;
	//margin-left: 8rem;
}


/*.navbar .navbar-toggler{
	margin-left: 12rem;
}*/

.header {
  height: 200px;

}

 .titulo{
 	margin-top: 60px;
 	font-size: 25px;
 }

 .texto-normal{
 	font-size: 15px;
 }

 .contenedor{
  	padding-top: 240px;
  }

 .titulo-entradas{
 	font-size: 24px;
 }


}

@media (min-width:768px ) {

.logo{
	width: 30%;
	margin-left: 0rem;
}

.navbar .navbar-toggler{
	margin-left: 0rem;
}
.navbar .navbar-nav .nav-item{
	background-color: rgba(107, 107, 107, 0.5);
	color: black;
	padding-left: 10px;

	}

.header {
  height: 300px;

}

 .titulo{
 	margin-top: 100px;
 	font-size: 30px;
 }

 .texto-normal{
 	font-size: 17px;
 }

 .contenedor{
 		margin-top: 450px;
  	padding-top: 100px;
  }

 .titulo-entradas{
 	font-size: 28px;
 }


}


@media (min-width:960px ) {

body{
	background: url(../imagenes/icono.png);
}


.content {
  max-width: 40rem;
  padding-left: 6rem;
  padding-right: 1rem;
 }

 .navbar .navbar-nav{
		margin-top: 0px;
	}

	.navbar .navbar-nav .nav-item{
		color: black;
		background-color:rgba(255, 255, 255, 0);
		padding-right: 10px;
	}

	.navbar .navbar-nav .nav-item:hover{
		background-color: rgba(255,126,0, 0.55);
		border-radius: 25px 0px 25px 0;
		transition:all .3s ease-in-out;
	}

	.header-content p{
	font-size: 1.3rem;
}

.indice{
	padding-left:  16px; 
}

.credito{
	padding-left:  22px;
}

.navbar .navbar-nav li a{
	font-size: 18px;	
}

.logo{
	width: 25%;
	margin-left: 0rem;
}

.header {
  height: 450px;
}

 .header-content h1{
 	font-size: 50px;
 }

 .contenedor{
  	padding-top: 50px;
  }

 .titulo{
 	margin-top: 20px;
 	font-size: 35px;
 }

 .texto-normal{
 	font-size: 19px;
 }

 .titulo-entradas{
 	font-size: 31px;
 }

}


@media (min-width:1024px ) {

.contenedor{
  	padding-top: 75px;
  	margin-top: 770px;
  }

 .titulo{
 	margin-top: 40px;
 	font-size: 40px;
 }

  .texto-normal{
 	font-size: 22px;
 }

 .titulo-entradas{
 	font-size: 35px;
 }

}


@media (min-width:1280px ) {
	.contenedor{
  	padding-top: 10px;
  	margin-top: 50px;
  }
	
}